.StoryList {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  scroll-snap-type: x mandatory;
  padding: 10px;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.story-item {
  width: 80px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.story-image-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #ff1a75;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-image-container.seen {
  border-color: gray;
}

.story-item img {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.story-item img.gray-scale {
  filter: grayscale(100%);
  opacity: 0.6;
}

.story-item p {
  font-size: 10px;
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.StoryView {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
}

.story-close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  z-index: 9999;
  cursor: pointer;
}

.story-display-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-bar {
  display: flex;
  gap: 5px;
  position: absolute;
  top: 10px;
  width: 90%;
}

.story-bar .story-item-bar {
  flex-grow: 1;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease, width 0.5s ease;
}

.story-bar .story-item-bar.active {
  background-color: #fff;
}

.user-story-info {
  position: absolute;
  top: 20px;
  left: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-story-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.story-user-name {
  color: #fff;
  font-size: 12px;
}

.story-image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* Mobile Specific Adjustments */
@media (max-width: 600px) {
  .StoryList {
    gap: 8px;
  }

  .story-item {
    width: 70px;
    height: 120px;
  }

  .story-image-container {
    width: 60px;
    border-width: 2px;
  }

  .story-item p {
    font-size: 9px;
  }

  .story-display-container {
    width: 100vw;
    height: 100vh;
  }

  .story-image {
    max-width: 100vw;
    max-height: 90vh;
  }

  .story-bar {
    top: 5px;
    width: 95%;
  }

  .story-bar .story-item-bar {
    height: 2px;
  }
}